@page
@model Website.Pages.CreateAccountModel
@{
    ViewData["Title"] = "Create Your Account";
}
<div class="page-format">
    <div class="slogan">
        <div class="slogan-more">
            <h1 class="add-pokemon-title create-add-title">@ViewData["Title"]</h1>
            <div class="call-to-action">
                <spans class="slogan-catch">Go back to home</spans>
                <div class="slogan-whitespace"></div>
                <div class="slogan-arrow">
                    <img src="~/Images/arrow.png" width="100" height="60" />
                </div>
                <div class="button">
                    <a class="slogan-button" asp-area="" asp-page="/Pokemon">Pokémon Awaits</a>
                </div>
            </div>
        </div>
    </div>
    <form id="submit-info">
    <div class="create-account-desc create-add-desc">
        <div class="create-account-page create-add-page">
            <h2>Enter in Information</h2>
            <div class="create-account-input create-add-input">
                <div class="input-group">
                    <label>Email: </label>
                    <input type="text" name="email" placeholder="Enter Here" style="background-color: #030027" />
                </div>
                <!--FIXME will want error checking on input information-->
                <div class="input-button input-group">
                    <input type="submit" value="Submit">
                </div>
            </div>
        </div>
        <div class="logo-main">
            <img class="main-logo" src="~/Images/pokemoncreate.png" width="850" height="600" />
        </div>
    </div>
    </form>
</div>