@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@400;700;900&display=swap');

html {
    font-family: 'Gluten', cursive;    
}

body {
    font-family: 'Gluten', cursive;
    background: #151E3F;
    /*background: url(../../Images/backgroundidea.png) repeat-y center top #151E3F;*/
    background-size: cover;
    position: relative;

    overflow-x:hidden;
}

body::before {
    content: "";
    position: absolute;
    left: -5vw;
    right: -5vw;
    top: -25vw;
    bottom: 0;
    background: url(../../Images/rings.png) center top no-repeat;
    background-size: 100vw;
    z-index: -1;
}

footer {
    background: #030027;
    /*background: url(../../Images/backgroundidea.png) repeat-y center top #030027;*/
    background-size: cover;
    margin-top: -100px;
}
footer img {
    margin-top: 100px;
}

.footer-links a{
    color: #FFEFD3!important;
    text-decoration: none;
    margin: 12px;
}

.footer-links a:hover {
    color: #EF7B45!important;
}

.copywrite{
    padding: 8px 0px 24px 0;
}

.container{
    text-align: center;
}

.navbar-light .nav-item .nav-link {
    color: #FFEFD3;
    font-size: 20px;
    padding: 8px 16px 8px 16px;
    font-weight: bold;
}

.navbar-light .nav-item.menu-nav-item {
    float: right;
    background: #EF7B45;
    border-radius: 8px;
    margin-left: auto;
}

.nav-link:hover {
    color: #EF7B45!important;
}
.menu-nav-item .nav-link:hover {
    color: #151e3f !important;
}

/*#region Slogan*/
.slogan h1 {
    font-family: 'Gluten';
    font-weight: 400;
    font-size: 96px;

    text-align: center;
    color: #FFEFD3;
}

.slogan .emphasis {
    color: #EF7B45;
    font-weight: bold;
}

.slogan {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;

    color: #FFEFD3;
}

.slogan .call-to-action span {
    color: rgba(255, 239, 211, 0.6);
    position: absolute;
}

.slogan-more .call-to-action{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 80px;
    
}

.slogan-more .call-to-action .slogan-arrow{
    grid-column-start: 1;
    text-align: right;
}

.slogan-more .call-to-action .slogan-catch {
    text-align: right;
    transform: rotate(-10deg);
}

.slogan-more .call-to-action .slogan-button{
    grid-column-start: 2;
}

.slogan .slogan-more .slogan-button {
    margin: 25px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    padding: 24px;
    color: #FFEFD3;
    text-decoration: none;
    background: #EF7B45;
    color: #FFEFD3;
    border-radius: 16px;

    text-align: center;
    font-weight: bolder;
    font-size:24px;
}

.slogan .slogan-more .slogan-button:hover {
    color: #151E3F;
}

.slogan-more .call-to-action .slogan-arrow img {
    margin-bottom: 0;
    margin-top: 20px;
}
/*#endregion Slogan*/

/*#region Overall Feature Details*/

.feature-detail h2 {
    font-weight: bolder;
}

.feature-detail h4 {
    font-weight: bold;
}

.feature .container{
    display: flex;
    flex-direction: row;
}

.price-and-calories{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.price-and-calories .feature-price{
    padding-left: 40px;
}

.price-and-calories-side{
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-top: 40px
}

.price-and-calories-side .feature-calories-side{
    padding-right: 40px;
}

.drink-feature .price-and-calories{
    padding-top: 40px;
}

/*#endregion */

/*#region User Stat Feature*/
.top3-user-stat {
    display: flex;
    background: #FFEFD3;
    transform: rotate(0.78deg);
    width: 110%;
    padding: 80px 80px 80px 80px;
    position: relative;
    left: -10px;
}

.top3-user-stat .container {
    transform: rotate(-0.78deg);
}

.top3-user-stat .feature-text .feature-detail{
    color: #A75A26;
    text-align: left;
}


.top3-user-stat .feature-calories {
    text-align: left;
    color: #A75A26;
    padding-top: 40px;
}

.top3-user-stat .feature-calories h4{
    font-weight: bold;

}

.top3-user-stat .feature-price {
    color: #A75A26;
    text-align: left;
}

.top3-user-stat .feature-price h4 {
    font-weight: bold;
}

.top3-user-stat .feature-text h5 span {
    font-weight: bold;
}
/*
.top3-user-stat .explore-menu a {
    font-weight: normal;
    font-size: 16px;
    line-height: 170%;
    text-align: center;
    color: rgba(167, 90, 38, 0.6);
    text-decoration: none;
}

.top3-user-stat .explore-menu a:hover {
    color: rgba(167, 90, 38, 0.3);
}

.top3-user-stat .explore-menu{
    text-align: center;
    margin-top: 250px;
    min-width: 200px;
}
*/
/*#endregion User Stat Feature*/

/*#region Number of Pokemon Feature*/
.top3-pokemon {
    display: flex;
    background: #97CEEF;
    width: 100%;
    padding: 80px 80px 80px 80px;
    position: relative;
    top: -15px;
}

.top3-pokemon .feature-text .feature-detail {    
    flex: 2;
    color: #124E73;
    text-align: right;
}

.top3-pokemon .feature-text h5 span{
    font-weight: bold;
}

.top3-pokemon .feature-calories {
    text-align: right;
    color: #124E73;
}

.top3-pokemon .feature-image{
    flex: 1;
    text-align: left;
    width: 50%;
}
.feature-image img{
}

.top3-pokemon .feature-calories h4 {
    font-weight: bold;
}

.top3-pokemon .feature-price {
    text-align: right;
    color: #124E73;
}

.top3-pokemon .feature-price h4 {
        font-weight: bold;
}
/*
.top3-pokemon .explore-menu a {
    text-align: right;
    color: rgba(18, 78, 115, 0.7);
    text-decoration: none;
    
}
.top3-pokemon .explore-menu {
    text-align: left;
}

.top3-pokemon .explore-menu a:hover {
    color: rgba(18, 78, 115, 0.3);
}
*/
/*#endregion*/

/*#region Generation Feature*/
.generation {
    display: flex;
    background: #7D604A;
    transform: rotate(-0.78deg);
    width: 110%;
    padding: 80px 80px 80px 80px;
    position: relative;
    top: -30px;
    left: -10px;
}

.generation .container {
    transform: rotate(0.78deg);
}

.generation .feature-text .feature-detail {
    color: #30251C;
    text-align: left;
}

.generation .feature-image {

}

.generation .feature-calories {
    text-align: left;
    color: #30251C;
}

.generation .feature-calories h4 {
    font-weight: bold;
}

.generation .feature-price {
    text-align: left;
    color: #30251C;
}

.generation .feature-price h4 {
    font-weight: bold;
}

.generation .feature-text h5 span {
    font-weight: bold;
}
/*
.generation .explore-menu a {
    font-weight: normal;
    font-size: 16px;
    line-height: 170%;
    text-align: center;
    color: rgba(48, 37, 28, 0.7);
    text-decoration: none;
}

.generation .explore-menu a:hover {
    color: rgba(48, 37, 28, 0.3);
}

.generation .explore-menu {
    text-align: center;
    margin-top: 250px;
    min-width: 200px;
}
    */
/*#endregion Generation Feature*/

/*#region Add Pokemon and Create Account and Create Pokemon page*/
.page-format{
    margin-bottom: 2%;
}
.create-add-desc {
    background: #FFEFD3;
    transform: rotate(2deg);
    border: none;
    height: 700px;
    width: 110%;
    margin-left: -20px;
    display: flex;
    flex-direction: column;
}

.create-add-title {
    padding-top: 80px;
    font-weight: bold;
    text-align: center;
    margin-top: 80px;
}

.create-add-page {
    text-align: center;
    margin: 40px 15% 0 15%;
    transform: rotate(-2deg);
}

.create-add-page h2 {
    color: #030027;
    text-align: center;
    margin: 40px 15% 0 15%;
    font-weight: bold;
}

.create-add-input {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;
}

.create-add-input label {
    color: #030027;
    font-weight: bold;
}

.create-add-input input {
    border-radius: 4px; /*having an issue with this only working on 2 corners, found something in inspect*/
    background: rgba(255, 239, 211, 0.08);
    border: none;
    text-align: center;
    margin-bottom: 3%;
    width: 200px;
    font-weight: bold;
    height: 40px;
    color: #FFEFD3;
}

.input-group { /*gets the textboxes lined up nicely*/
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    text-align: left;
}

.input-group input[type=text]:focus { /*this does the outline of the textboxes when selected*/
    outline: 4px solid #97CEEF;
}

.input-group input[type=number]:focus {
    outline: 4px solid #97CEEF;
}

.input-button input {
    background: #EF7B45;
    font-weight: bolder;
    color: #FFEFD3;
}

.input-button input:hover {
    color: #030027;
}

.input-button input {
    padding: 5px 24px 0px 24px;
    width: 100%;
    border-radius: 8px;
    border: none;
}

.add-pokemon-desc .logo-main {
    transform: rotate(-2deg);
    text-align: right;
    margin-top: -280px;
    margin-right: 150px;
}

.create-pokemon-desc .logo-main {
    transform: rotate(-2deg);
    text-align: right;
    margin-top: -620px;
    margin-right: 150px;
}

.create-account-desc .logo-main {
    transform: rotate(-2deg);
    text-align: right;
    margin-top: -280px;
    margin-right: 150px;
}

/*
.logo-second {
    background: #EF7B45;
    transform: rotate(-0.5deg);
    display: flex;
    position: relative;
    top: -30px;
    height: 300px;
    width: 110%
}

.logo-second .logo-menu{
    text-align: right;
    flex: .5;
    padding-top: 100px;
}
*/

.logo-menu a{
    color: #FFEFD3;
    text-decoration: none;
    font-size: 30px;
    margin-top: 50px; 
    text-align:right;
}

.logo-menu a:hover {
    color: rgba(255, 239, 211, 0.3);
}
/*#endregion*/

/*#region Menu*/
#search{
    display:flex;
    justify-content:center;
    gap: 24px;
    max-width: 60%;
    margin: auto;
    margin-top: 32px;
}

#search input{
    padding: 16px 24px 16px 24px;
    width: 100%;
    border-radius: 8px;
    border: none;
}

.search-button input {
    background: #EF7B45;
    font-weight: bolder;
    color: #FFEFD3;
}

.search-textbox{
    flex: 2;
}

.search-textbox input {
    background: #030027;
    color: rgba(255, 239, 211, .7);
}

.search-textbox input::placeholder {
    color:rgba(255, 239, 211, .3);
}

.search-button input:hover {
    color: #151e3f;
}

.search-filter{
    margin-top: 40px;
}

.search-filter input {
    padding: 16px 24px 16px 24px;
    width: 100%;
    border-radius: 8px;
    border: none;
    margin-top: -20px;
}

/*#region types filter*/
.all-filters .types-filter {
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;
}

.all-filters .types-filter .filter-side {
    color: #97CEEF;
}

.all-filters .types-filter .filter-drink {
    color: #7D604A;
}

.all-filters .total-filter {
    padding-bottom: 32px;
}
/*might need to change back to .total-filter*/
.all-filters .filter-format input {
    border-radius: 4px;
    background: rgba(255, 239, 211, 0.08);
    border: none;
    text-align: center;
    font-weight: bold;
    height: 40px;
    width: 40%;
    color: #FFEFD3;
}

.all-filters .type-filter {
    width: 100%;
    margin-bottom: 16px;
}

.all-filters .price-filter input {
    border-radius: 4px;
    background: rgba(255, 239, 211, 0.08);
    border: none;
    text-align: center;
    font-weight: bold;
    height: 40px;
    width: 40%;
    color: #FFEFD3;
}

.all-filters .types-filter input[type="checkbox"] {
    appearance: none;
    background-color: rgba(255, 239, 211, 0.08);
    border-radius: 4px;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin: 4px;
    transition: .3s ease-out;
}


.all-filters .types-filter input[type="checkbox"]:checked {
    background: #EF7B45;
}

.all-filters .types-filter input[type="checkbox"]:not(:checked):hover {
    background: rgba(255, 239, 211, 0.3);
}

.all-filters .types-filter input[type="checkbox"]:checked {
    background: #EF7B45;
    border: 6px solid #171335;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/*#endregion*/
.filter-and-result {
    /*FIXME how to get it to adjust with more/less items*/
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding-top: 80px;
    margin-bottom: 20%;
    align-items: flex-start;
}

.all-filters {
    color: #FFEFD3;
    background: #030027;
    border-radius: 16px;
    flex: 1.2;
    text-align: left;
    padding: 40px 40px 40px 40px;
}

.all-filters h2{
    font-weight: bold;
    color: #EF7B45;
}
.all-filters .name-header{
    color: #97CEEF;
}
.page-title-index {
    color: #FFEFD3;
    font-weight: bold;
}

#results {
    background: #030027;
    border-radius: 16px;
    flex: 4;
    text-align: left;
    padding: 40px 40px 40px 40px;
}

.pokemon-item .pokemon-info {
    margin: 0px 24px 0px 0px;
    width: 100%;
}

.pokemon-item .pokemon-info tr:nth-child(2n){
    background-color: #151E3F;
}

.pokemon-item .pokemon-info .info-titles th {
    color: #97CEEF;
    padding: 0px 0px 8px 0px;
}

.pokemon-item .pokemon-info .info-details th {
    color: #FFEFD3;
    font-weight: unset;
    padding: 8px 0px 8px 0px;
}

.pokemon h2, .pokemon h5 {
    color: #EF7B45;
    font-weight: bold;
}

#search{
    flex-direction: row;
    border-radius: 16px;
}
#search .search-button {
    color: #EF7B45;
}

.text-center .page-title-index{
    font-size: 64px;
    padding-top: 80px;
}

/*#endregion*/